@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}

/* From Uiverse.io by codebykay101 */
.inicio-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio-container .inicio-glass {
  position: relative;
  width: 180px;
  height: 200px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.inicio-container:hover .inicio-glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.inicio-container .inicio-glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3730a3;
}

.inicio-container .inicio-glass svg {
  font-size: 2.5em;
  fill: #3730a3;
}

body {
  margin: 0;
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  margin-left: 240px;
  padding: 15px 30px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

/* CONTENT */
.inicio-contentdashboard {
  margin-left: 240px;
  padding: 20px;
}

/* CARDS */
.inicio-card-dashboard {
  border-radius: 15px;
  color: white;
  padding: 20px;
}

.inicio-card1 {
  background: linear-gradient(45deg, #6366f1, #8b5cf6);
}

.inicio-card2 {
  background: linear-gradient(45deg, #3b82f6, #60a5fa);
}

.inicio-card3 {
  background: linear-gradient(45deg, #10b981, #34d399);
}

.inicio-card4 {
  background: linear-gradient(45deg, #84cc16, #a3e635);
}

/* From Uiverse.io by vinodjangid07 */
.inicio-loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio-truckWrapper {
  width: 1250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}

/* truck upper body */
.inicio-truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: inicio-motion 1s linear infinite;
}

/* truck suspension animation*/
@keyframes inicio-motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* truck's tires */
.inicio-truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}

.inicio-truckTires svg {
  width: 24px;
}

.inicio-road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}

.inicio-road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: inicio-roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}

.inicio-road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: inicio-roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.inicio-lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: inicio-roadAnimation 1.4s linear infinite;
}

@keyframes inicio-roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}